{% extends "base.html" %}

{% block head %}
    <title>New Meditation</title>
{% endblock %}

{% block body %}
    <h1>New Meditation:</h1>
    <hr>
    <h2>Meditation:</h2>
    <form action="/posts" method="POST">
        <label for="title">Title:</label>
        <input class="form-control" type="text" name="title" id="title" placeholder="Enter Title"
            aria-label="Enter Title">
        <br>
        <label for="content">Author:</label>
        <input class="form-control" type="text" name="author" id="author" placeholder="Enter Author"
            aria-label="Enter Author">
        <br>
        <label for="post">Meditation:</label>
        <textarea class="form-control" name="post" id="post" placeholder="Enter Content" aria-label="Enter Content"
            rows="3"></textarea>
        <br>
        <input type="submit" value="Post">
    </form>
    <hr>
{% endblock %}
